.dialog  {
  border: none;
  padding: 0;
  background-color: gr;
  border-radius: $second-radius;
  font-size: clamp(18px, 1vw, 24px);
  background-color: $white;
  color: $text;
}

.dialog__container {
  position: relative;
  padding: 25px;

  @include media-tablet {
    padding: 30px;
  }
}

.dialog__form {
  display: grid;
  grid-template-columns: minmax(240px, 320px);
  gap: 20px;
}

.dialog__title {
  margin: 0;
  font-size: clamp(20px, 3vw, 32px);
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
}

.dialog__wrapper {
  display: grid;
  gap: 10px;

  @include media-desktop {
    gap: 20px;
  }
}

.dialog__input {
  display: block;
  width: 100%;
  border-radius: 12px;
  color: inherit;
  padding: 10px;
  border: none;
  background-color: $bg-section;
  cursor: pointer;

  &::placeholder {
    color: $text-secondary;
  }

  &:hover,
  &:focus {
    background-color: $bg-section-hover;
  }

  &--error {
    background-color: rgba($color: red, $alpha: 0.3);
    outline: 1px solid red;
  }

  @include media-desktop {
    padding: 13px;
  }
}

.dialog__label {
  &--tel {
    position: relative;
    display: grid;

    &::before {
      position: absolute;
      top: 50%;
      left: 7px;
      transform: translateY(-50%);
      border-radius: 12px 0 0 12px;
      user-select: none;
      content: "+7";

      @include media-desktop {
        left: 10px;
      }
    }

    & .dialog__input {
      padding-left: 30px;

      @include media-desktop {
        padding-left: 35px;
      }
    }
  }
}

.dialog__select {
  display: block;
  width: 100%;
  border-radius: 12px;
  color: inherit;
  padding: 10px;
  border: none;
  background-color: $bg-section;
  cursor: pointer;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  &:hover {
    background-color: $bg-section-hover;
  }

  & option {
    font-weight: 400;
    font-size: clamp(14px, 2vw, 18px);
    background-color: $bg-section-hover;
  }

  @include media-desktop {
    padding: 13px;
  }
}

.dialog__button {
  align-self: flex-end;
  display: block;
  margin: 0 auto;
  max-width: 430px;
  padding: 15px 25px;
  border-radius: $first-radius;
  font-weight: 600;
}

.dialog__close {
  position: absolute;
  display: grid;
  place-content: center;
  top: 10px;
  right: 10px;
  width: 22px;
  height: 22px;
  padding: 3px;
  border-radius: 50%;
  cursor: pointer;

  &::before,
  &::after {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    width: 16px;
    height: 2px;
    border-radius: 4px;
    background-color: $white;
    z-index: 1;
    content: "";
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
