.header__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin: 20px 0;

  @include media-tablet {
    gap: 30px;
  }

  @include media-desktop {
    gap: 60px;
  }
}

.header__logo {
  @include media-tablet {
    order: -2;
  }

  @include media-desktop {
    order: 0;
  }
}

.header__button {
  @include media-tablet {
    order: -1;
  }

  @include media-desktop {
    order: 0;
  }
}

.header__nav-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-rows: 0fr;
  gap: 20px;
  background-color: $bg-page;
  width: 100%;
  transition: grid-template-rows 0.3s linear;
  z-index: 3;

  &--active {
    grid-template-rows: 1fr;
  }

  @include media-tablet {
    position: static;
    grid-template-rows: 1fr;
  }
}

.header__collapse-wrapper {
  display: grid;
  align-items: center;
  gap: 30px;
  min-height: 0;
  overflow: hidden;

  @include media-tablet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    overflow: visible;
  }
}

.header__wrapper {
  display: grid;
  gap: 20px;
  justify-content: center;
  margin-bottom: 40px;

  @include media-tablet {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 0 0 0 auto;
  }

  @include media-desktop {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0;
  }
}

.header__phone {
  display: block;
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.15;
  text-align: center;
  transition: opacity 0.2s ease-in-out;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @include media-tablet {
    text-align: start;
    font-size: 16px;
  }
}

.header__button-record  {
  display: block;
  padding: 12px 25px;
  max-width: 400px;
  border-radius: 30px;
}
