.hero {
  position: relative;
  width: 100%;
  height: 100%;
}

.hero__conteiner {
  display: grid;
  grid-template-rows: 1fr auto auto;
  justify-items: flex-start;
  width: 100%;
  height: 100%;
  padding: 30px;
  color: $white;

  @include media-desktop {
    padding: 80px 60px;
  }
}

.hero__content {
  grid-row: 2 / span 1;
  margin-bottom: 10px;
  z-index: 2;
  user-select: none;
  pointer-events: none;

  @include media-desktop {
    display: grid;
    margin-bottom: 0;
  }
}

.hero__text {
  margin: 10px 0;
  font-size: 16px;
  line-height: 1.2;

  @include media-desktop {
    max-width: 520px;
    font-size: 20px;
  }
}

.hero__title {
  margin: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  color: inherit;

  @include media-tablet {
    font-size: 36px;
  }

  @include media-desktop {
    font-size: 58px;
    order: 1;
  }
}

.hero__link {
  grid-row: 3 / span 1;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
  text-decoration: none;
  color: inherit;
  transition: text-shadow 0.3s ease-in-out;
  z-index: 2;

  &::after {
    display: block;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color: $white;
    background-image: url("/__spritemap#sprite-arrow-view");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 19px;
    transform: rotate(-45deg);
    transition: transform 0.3s ease-in-out;
    content: "";
  }

  &:hover,
  &:focus {
    text-shadow: $white 1px 0 10px;
    &::after {
      transform: rotate(0deg);
    }
  }

  &:active {
    opacity: 0.3;
  }

  @include media-desktop {
    grid-row: 2 / span 1;
    align-self: flex-end;
    padding: 20px;
  }
}

.hero__swiper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.hero__list {
  @include reset-list;
}

.hero__item {
  display: block;
  border-radius: 30px;
  overflow: hidden;
}

.hero__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
