.page {
  display: grid;
  min-block-size: 100%;

  scroll-behavior: smooth;
}

.page__body {
  display: grid;
  min-block-size: 100%;
  grid-template-rows: auto 1fr;

  font-family: $font-family;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.15;
  background-color: $bg-page;
  color: $text;
}

.page__header {
  width: 100vw;
  height: 100svh;
  max-width: 100%;
  overflow-x: hidden;
}

.page__header-container {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
}
