.social {
  @include reset-list;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.social__link {
  display: block;
  text-decoration: none;
  color: inherit;

  transition: opacity 0.2s ease-in-out;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__icon {
  display: block;
  width: 30px;
  height: 30px;
  color: $bg-button;
}
