.team-swiper {
  width: 100%;
  height: 100%;
}

.team-swiper__wrapper.swiper-wrapper {
  align-items: stretch;

  @include media-desktop {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    gap: 40px;
  }
}

.team-swiper__slide.swiper-slide {
  height: auto;
}
