.team {
  width: 100%;
  padding: 40px 0;
  background-color: rgba($color: $bg-section, $alpha: 0.05);

  @include media-tablet {
    padding: 50px 0;
  }
}

.team__title  {
  margin: 0 0 40px;
}

.team__list {
  @include reset-list;
}
