.button {
  text-align: center;
  text-decoration: none ;
  background-color: $bg-button;
  color: $text-button;
  border: none;
  user-select: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: opacity 0.3s ease-in-out;

  &:hover,
  &:focus-visible {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &:disabled,
  &:not([type="button"]):not([type="submit"]):not([href]) {
    opacity: 0.3;
  }

  &--white {
    background-color: $white;
    color: $text;
  }
}
