/* Font familie */
$font-family: "Geologica", "Arial", sans-serif;

/* Font weight */
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

/* Width */
$width-phone: 320px;
$width-tablet: 768px;
$width-desktop: 1440px;

/* Margins */
$Margins-phone: 15px;
$Margins-tablet: 45px;
$Margins-desktop: 100px;


/* Colors */
$white: #ffffff;


/* Color space */
$bg-page: #ffffff;
$text: #000000;

$bg-button: #cd52a8;
$text-button: #ffffff;

